---
import { resume } from '../../data/resume';

const contactLinks = resume.links.map((link) => ({
  ...link,
  label: 'webLabel' in link ? link.webLabel : link.label,
}));
---

<div>
    <p class="text-base">
        {resume.summary[0]}
    </p>
    <p class="text-base mt-4">
        {resume.website.introduction[0].map((chunk) => (
            'lineBreak' in chunk ? (
                <br />
            ) : 'url' in chunk ? (
                <a target="_blank" href={chunk.url}>{chunk.text}</a>
            ) : (
                chunk.text
            )
        ))}
    </p>
    {resume.website.introduction.slice(1).map((paragraph) => (
        <p class="text-base mt-4">
            {paragraph.map((chunk) => (
                'lineBreak' in chunk ? (
                    <br />
                ) : 'url' in chunk ? (
                    <a target="_blank" href={chunk.url}>{chunk.text}</a>
                ) : (
                    chunk.text
                )
            ))}
        </p>
    ))}
    <p class="text-base mt-4">
        You can reach me on <a target="_blank" href={contactLinks[0].url}>{contactLinks[0].label}</a> and <a target="_blank" href={contactLinks[1].url}>{contactLinks[1].label}</a>, <a target="_blank" href={contactLinks[2].url}>{contactLinks[2].label}</a>. Or email me
        at <a href={`mailto:${resume.email}`}>{resume.email}</a>.
    </p>
    <p class="text-base mt-4">
        <a href={resume.website.resumeDownload.url} download={resume.website.resumeDownload.filename}>{resume.website.resumeDownload.label}</a>.
    </p>
</div>
