---
import '../styles/global.css';
import formatWriteDate from '../utils/formatWriteDate';
import DefaultLayout from './DefaultLayout.astro';

const { frontmatter } = Astro.props;
---
<DefaultLayout title={frontmatter.title} ogTitle={frontmatter.title} ogDescription={frontmatter.description} ogImage={frontmatter.thumbnail}>
  <a class="text-base text-gray-600 no-underline" href="/articles">← Back to articles</a>
  <h1 class="text-4xl font-bold mt-4">{frontmatter.title}</h1>
  <p class="mt-4 text-gray-500">{formatWriteDate(frontmatter.writeDate)}</p>
  <div class="contents">
    <div class="mt-8">
      <slot />
    </div>
  </div>
  <div class="mt-8">
    <div class="giscus" />
  </div>
  <script src="https://giscus.app/client.js"
      data-repo="kentakang/website"
      data-repo-id="R_kgDONrfCQA"
      data-category="General"
      data-category-id="DIC_kwDONrfCQM4CmgGV"
      data-mapping="og:title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
  </script>
</DefaultLayout>